# Dependencies
node_modules/

# Build
dist/
build/
coverage/

# Logs
*.log
logs/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# NestJS
apps/backend/dist/
apps/backend/generated/

# Vite
apps/frontend/dist/

# Turbo
.turbo/

# Misc
*.tsbuildinfo